<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sql</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/button.css')}}">
</head>

<body>
    <div class="butt">
        <button class="button-85" role="button"><a class="hi" href="/inner">
                <h1>INNER JOIN</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/left">
                <h1>LEFT</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/right">
                <h1>RIGHT</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/full">
                <h1>FULL OUTER</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/union">
                <h1>UNION</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/ino">
                <h1>IN OPERATION</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/between">
                <h1>BETWEEN</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/dis">
                <h1>DISTINCT OPERATION</h1>
            </a></button>
        <button class="button-85" role="button"><a class="hi" href="/dis">
                <h1>DISTINCT OPERATION</h1>
            </a></button>

    </div>

</body>

</html>