<!DOCTYPE html>
<html>

<head>
    <title>Table Data</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/style.css')}}">
</head>

<body>
    <h1>Table Data</h1>
    <table class="tbody">
        <thead>
            <tr>
                <th>name</th>

                <!-- Add more column headers as per your table structure -->
            </tr>
        </thead>
        <tbody>
            {% for row in dis %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>

                <!-- Add more table cells as per your table structure -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>